.home_container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #fdffff;
  .left {
    display: flex;
    align-items: center;
    padding-left: 100px;
    .wrapper {
      .content {
        position: relative;
        .title {
          font-family: "Cinzel", serif;
          font-size: 50px;
          color: $th_black;
          font-weight: 700;
          margin: 20px 0;
        }
        .subtitle {
          font-size: 25px;
          color: lighten($color: $th_black, $amount: 10%);
          .blue {
            color: $th_blue;
          }
        }
        &::after {
          content: "";
          position: absolute;
          bottom: -40px;
          width: 10%;
          background: $th_blue;
          height: 2px;
        }
      }
      .links {
        margin-top: 80px;
        .qgen_link {
          padding: 10px 20px;
          background: $th_blue;
          color: #fff;
          font-size: 20px;
          display: inline-block;
          border-radius: 5px;
          cursor: pointer;
        }
        .demo2_link {
          padding: 10px 20px;
          font-size: 20px;
          display: inline-block;
          color: $th_blue;
          cursor: pointer;
        }
      }
    }
  }
  .right {
    .wrapper {
      height: 100%;
      width: 100%;
      background: url("../assets/banner.svg") no-repeat center center;
      background-size: cover;
      clip-path: circle(77.9% at 80% 28%);
    }
  }
}
